<header>
    <nav class="menu" role="navigation">
        <div class="menu__toggle">
            <input type="checkbox" id="checkMenu">
            <span></span>
            <span></span>
            <span></span>

            <ul class="navbar">
              <li>
                <a routerLink="/"
                   routerLinkActive="active"
                   class="link-item">Home</a>
              </li>
              <li>
                <a routerLink="/characters"
                   routerLinkActive="active"
                   class="link-item">Characters</a>
              </li>
              <li>
                <a  routerLink="/episodes"
                    routerLinkActive="active"
                    class="link-item">Episodes</a>
              </li>
              <li>
                <a routerLink="/about"
                   routerLinkActive="active"
                   class="link-item">About</a>
              </li>
            </ul>
        </div>
    </nav>
</header>
