<section class="about__page">
  <h1 class="title">Rick and Morty GraphQL App</h1>

  <div class="about__container">
      <p class="about__paragraph">
        Angular 14 + GraphQL + Rick and Morty API
      </p>

      <figure class="about__img">
        <img src="assets/imgs/web_dev.svg"
             alt="Web dev"
             rel="preload"
             as="image"
             class="about__picture"
             width="406"
             height="306">
      </figure>
  </div>

  <div class="about__copy">
    Developed by: <span class="text-white">Edier Hernández</span>
  </div>
</section>
