<ng-container *ngIf="loading$ | async; else showCharacters">
  <app-spinner></app-spinner>
</ng-container>

<ng-template #showCharacters>
  <section class="character__list"
           infinite-scroll
           (scrolled)="onScrolled()">
    <app-character-card *ngFor="let character of characters$ | async"
                        [character]="character"></app-character-card>

    <button class="button"
            *ngIf="showButtonUp"
            (click)="onScrollTop()">🔼</button>
  </section>
</ng-template>

